.centeral {
  background-color: #f28ab2;
  height: 105vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 4fr 1fr 1fr;
  height: 15vh;
  width: 95vw;
  justify-items: start;
  align-items: center;
}

.linker {
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 2rem;
}

.linkerActive {
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 2rem;
  border-bottom: solid 3px black;
}
